*.pyc
__pycache__
.venv
.env
.vscode
src/
tables/
models/
.DS_store
test/
index.html
arpa/
static/
app.py
dataHistoricaPBI.xlsx
django/
toICO.py
favicon.ico
arpy.spec
build.ps1
dist/
arpy.py
build/
favicon.png